:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #8b8b8b;
    --text-secondary: #d3d3d3;
    --bg-primary: #303778;
    --bg-secondary: #84a1e9;
}

body {
    color: black;
    background-color: #fcfdff;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #303778;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color:white;
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
}

.logo {
    width: 100%;
    height: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--bg-primary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
}

.logo-img {
    width: 2.5rem;
    min-width: 2rem;
    margin: 0 0.75rem;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 3.5rem;
    color: var(--text-primary);
    text-decoration: none;
}

.nav-item {
    width: 100%;
    height: 3.5rem;
}

.nav-item img{
    width: 1.5rem;
    min-width: 1.5rem;
    margin: 0 1rem;
}
  
.nav-item:last-child {
    margin-top: auto;
}

.link-text {
    display: none;
    margin-left: 1rem;
    color: black;
}

/* small screen*/
@media only screen and (max-width: 600px){
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 3rem;
    }

    .logo{
        display: none;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-item {
        height: 1.5rem;
    }

    .nav-item:last-child{
        margin-top: 0;
    }

    .nav-link {
        justify-content: center;
    }

    main{
        margin: 0;
    }

}

@media (hover: none) {
    a:hover { color: inherit; }
  }

/* large screen*/
@media only screen and (min-width: 600px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover{
        width: 16rem;
    }

    .navbar:hover .link-text{
        display: inline;
    }

    .nav-link {
        display: flex;
        align-items: center;
        height: 3.5rem;
        color: var(--text-primary);
        text-decoration: none;
        filter: grayscale(100%) opacity(0.7);
        transition: var(--transition-speed);
    }

    .nav-link:hover {
        filter: grayscale(0%) opacity(1);
        background: var(--bg-secondary);
        color: var(--text-secondary);
    }
    
    .navbar:hover {
        width: 16rem;
    }
    
    .navbar:hover .link-text {
        display: block;
    }
}